<!DOCTYPE html>
<html lang="en">
	<head>
    <meta charset="utf-8">
		<title>Instagralbums</title>
        <link rel="stylesheet" href="../static/index.css" type="text/css">
        <link href='http://fonts.googleapis.com/css?family=family=Gilda+Display' rel='stylesheet' type='text/css'>

	</head>	
<body>
<div id="wrapper">

<!-- Intro/header/instructions section -->
	<div id="image">
		<img src="../static/logo.png"/>
	</div>
	<div id="description">
	<h1>Twist: User Tweet classifier</h1>
	<p>Put some good text here</p>
	</div>


	<div id="tweets">
		<ul id ="feed">
            {% for cat,tweet in tweets %}
            <li><span class=tag><span class=tail></span>{{cat}}</span>
                ​<span class=text>{{tweet}}</span></li><br></br><br></br>
            {% endfor %}
		</ul>
	</div>
	
	</div>

</div>
</body>
</html>