body {
    background: #FFFFFF;
    font-family: "Avenir", "Droid Sans", "Segoe UI", Helvetica, Arial, sans-serif;
    font-size: 1em;
    color: #222;
    background-image:url('../static/background.jpg');
}

h1, h2, h3, p, ul {
    margin: 0px;
    padding: 0px;
}

h1 {
    color: #00BFFF;
}

h2 {
    font-size: 1.2em;
    font-weight: normal;
    text-decoration: none;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;
}
a{
    display:none;
}

p {
    margin-top: 5px;
    margin-bottom: 5px;
}
#image img{
    height:80px;

}

#image {
    position:relative;
    float:left;
    height:90px;
    width:90px;
    margin-right:60px;
}

a:link {text-decoration: none; color: #f68121;}
a:visited {text-decoration: underline; color: #f68121;}
a:hover {text-decoration: underline; color: #f36523;}
a:active {text-decoration: underline; color: #f68121;}

#wrapper{
    padding:20px;
    width: 900px;
    margin:auto;
    border-radius: 5px; 
    -moz-border-radius: 5px; 
    -webkit-border-radius: 5px; 
    border: 1px solid #EEE;
    height:1000px;
    background: #f6f6f6; /* Old browsers */

}



li {
    display:inline;
}



#tweets{
	width:900px;
    margin-top: 10px;
	margin:auto;
	float:left;
    height:900px;
    overflow:auto;
}

#feed {
    list-style-type: none;
    margin: 0 auto;
    padding: 0px;
}

#login {
	width:900px;
	height:auto;
	padding: 0px;
	margin: 10px 0px;
	//background-color:#F8F8FF; 
    
	overflow:auto;	
	float:left;
}


#login li {
    display: block;
    padding-bottom: 3px;
}



#error p {
    background-color:transparent;
    position: absolute; top: 20px; left:120px; width: 300px; height: 100px; z-index:+2;font-size:10pt;
    font-family:times new roman:bold;
    font-style:italic;color:red;
}


#username, #password {width: 200px;}
input, #signin, #loadUser {font-size: .8em; margin: 0px; padding: 2px; border: 1px solid #222;}



.tag {
    background-image: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0.43,#00BFFF ),
        color-stop(0.7, #00BFFF)
    );
    background-image: -moz-linear-gradient(
        center bottom,
        rgb(250,192,75) 43%,
        rgb(252,219,110) 70%
    );
    border: 1px solid #cc912d;
    color: #986538;
    display: block;
    float: left;
    clear: both;
   /* font-weight: 100;
    font-family: "Avenir", "Droid Sans", "Segoe UI", Helvetica; */
    margin: 0 0 20px;
    padding: 4px;
    position: relative;
    text-transform: lowercase;
    z-index: 1;
    border-radius: 0 3px 3px 0;
    margin-left:20px;
    margin-right:10px;
    font-family: 'Gilda+Display', cursive;
    font-size:20px;
}
 
.tail {
    background-image: -webkit-gradient(
        linear,
        100% 100%,
        0 0,
        color-stop(.3, #00BFFF),
        color-stop(.7, #00BFFF));
    border: 1px solid #cc912d;
    border-right: 0;
    border-top: 0;
    position: absolute;
    height: 15px;
    left: -9px;
    top: 3px;
    width: 15px;
    z-index: -1;
    -webkit-transform: rotate(45deg);
}
.text{
    /*font-family: "Avenir", "Droid Sans", "Segoe UI", Helvetica, Arial, sans-serif;
    font-size: 1em; */
    color: #222;
    text-align:right;

}

}
#description
{
margin-left: 170px;
margin-bottom:30px;
}