body {
	background: #FFFFFF;
	font-family: "Avenir", "Droid Sans", "Segoe UI", Helvetica, Arial, sans-serif;
	font-size: 1em;
	color: #222;
}

#wrapper {
        margin: 0 auto;
        width: 960px;
}	
