<!DOCTYPE html>
<html lang="en">
	<head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<title>Twist- User Timeline Tweet Classifier</title>
        <link rel="stylesheet" href="../static/index.css" type="text/css">
        <link href='http://fonts.googleapis.com/css?family=Rambla' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Tangerine">
	</head>	
<body>
<div id="wrapper">

<!-- Intro/header/instructions section -->
	<div id="image">
		<img src="../static/logo.png"/>
	</div>
	<div id="description">
	<h1>Twist- User Timeline Tweet Classifier</h1>
	<p>I classify your tweets!</p>
	</div>


	<div id="tweets">
		<ul id ="feed">
              {% for (cat,tweet) in tweets %}
            <li><span class=tag><span class=tail></span>{{cat}}</span>
                ​<span class=text>{{tweet}}</span></li><br></br><br></br>
            {% endfor %}
		</ul>
	</div>
	
	</div>

</div>
</body>
</html>