/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


body {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 62.5%; /* font-size 1em = 10px */
	line-height: 1.25;
	background: #fff;
	color: #333;
}

#container {
	margin: 20px 40px;
}

h1 {
	font-size: 4.8em;
}

h2 {
	font-size: 3.6em;
}

h3 {
	font-size: 2.4em;
}

h4 {
	font-size: 2.1em;
}

h5 {
	font-size: 1.8em;
	
}

h6 {
	
	font-size: 1.6em;
}

p {
	font-size: 1.4em;
	margin: 15px 0;
}


li {
	font-size: 1.4em;
}

#title {
	margin-bottom: 20px;
}


#facets {
	float: left;
	width: 15%;
}
#results {
	float: right;
	width: 85%;
}

.facet {
	width: 100%;
	margin-bottom: 20px;
}

.facettitle {
	margin-bottom: 10px;
}

.facetitem {
	font-size: 1.4em;
	margin-bottom: 4px;	
}

.facetitemname:hover {
	text-decoration: underline;
	cursor: pointer;
}

.facetitemcount {
	color: #999;
}

.activeorderby, .activefacet {
	color: red;
}
.bottomline {
	padding: 10px 0 10px 0;
	font-weight: bold;
}
.bottomline .orderby, .bottomline .facettotalcount {
	display: inline-block;
}
.bottomline .orderby ul, .bottomline .orderby li {
	display: inline;
	padding: 0;
}
.bottomline .orderby-title {
	margin: 0 0 0 10px;
}
.bottomline .deselectstartover {
	float: right;
}

.item {
	width: 200px;
	margin: 10px;
	display: inline-block;
	vertical-align: top;
}

.item img {
	margin-bottom: 10px;
}

.itemtitle {
	margin-bottom: 10px;
}

.items .tags ul {
}

.item .tags li {
	font-size: 1em;
	background-color: #efefef;
	display: inline-block;
	padding: 3px;
	margin-right: 5px;
	border: 1px solid #ccc;
	border-radius: 3px;
}

#results button {
	border: 1px solid #AAA;
	border-radius: 15px;
	background-color: #DDD;
	margin: 0 0 10px 0;
	padding: 10px;
	width: 100%;
	display: block;
	text-align: center;
	cursor: pointer;
}
.facetSelectBox {
	width: 100%;
}
